doctype html
head
    meta(charset='UTF-8')
    title Upload files
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
body.ml-1
    form(action='http://localhost:8082/api/v1/file' method='post' enctype='multipart/form-data')
        label.form-label(for='uploadFile') Choose file to upload
        input#uploadFile.form-control(type='file' name='file')
        input.form-control(type='submit' text='Upload')
        div
            ul.list-group
                each fileLink in fileLinks
                    li.list-group-item
                        a(href= fileLink.href) #{fileLink.name}
                        | #{' '}


